ul {
  list-style: none;
}



#self-photo{
  float: right;
  width: 30%;
  height: auto;
  border: 1px solid #ebebeb;
  margin-right: 50px;
}

@media screen and (max-width: 736px){
  #self-photo{
    position: relative;
    width: 200px;
    height: auto;
    right: 0;
    top: 0;
  }

  div.inner{
    text-align: center;
  }
} 

#project-title {
  margin-left: 2em;
  padding-top: 50px;
  padding-bottom: 20px;
}

.spotlights > #project-title.active {
  animation: slide 1.5s forwards;
}

@keyframes slide {
  0% {transform: translateX(-50px);
      opacity: 0;}
  100% {transform: translateX(0px);
        opacity: 1;}
}

#project-title.inactive{
  visibility: hidden;
}
	
body.is-preload .spotlights > #project-title{
  opacity: 0;
}

.edu-logo{
  height: 60px;
  width: 60px;
}

.skill-logo{
  height: 50px;
  width: auto;
}

.wrapper.style4 {
  background: rgba(37, 88, 105, 0.918);
}

.wrapper.style5 {
  background-image: url(./images/aurora.jpg);
  background-size: cover;
}

.features section > p {
  font-size: 18px;
}

	@media screen and (max-width: 980px) {
    .features section .icon {
      left: 20%; 
    }

    .features {
      width: 70%;
      margin: 0 auto;
    }
  }
